@import "./_variables";
@import "./_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-dark;
  color: $text-light;
  font-family: "Orbitron", sans-serif;
  overflow-x: hidden;
}
